<div class="container" [formGroup]="formProducto" >
    <div class="row espacio-fila">
        <div class="col-3">
            <label class="form-label">Nombre</label>
        </div>

        <div class="col-9">
            <input class="form-control" 
                   type="text" 
                   placeholder="Nombre" 
                   formControlName="Name"
                   maxlength="100">
        </div>
    </div>
    <div class="row espacio-fila">
        <div class="col-3">
            <label class="form-label">Descripción</label>
        </div>
        <div class="col-9">
            <input class="form-control" 
                   type="text" 
                   placeholder="Descripción" 
                   formControlName="Description"
                   maxlength="100">
        </div>
    </div>
    <div class="row espacio-fila">
        <div class="col-3">
            <label class="form-label">Imagen</label>
        </div>
        <div class="col-9">
            <input class="form-control" 
                   type="file" 
                   accept="image/png, image/gif, image/jpeg" 
                   formControlName="Image"
                   (change)="handleUpload($event)"
                   />
        </div>
    </div>
    <br>
    <div class="center-img">
        <img *ngIf='formProducto["controls"]["ProductId"].value > 0' [src]="file" style="max-width: 500px;max-height: 500px;">
    </div>
    <br>
    <div class="row">
        <div class="col-7">
        </div>
        <div class="col-3 alinear-grupo">
            <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="onCerrar()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onGuardar()">Guardar</button>
        </div>
    </div>
</div>