<div class="container">
    <div class="row espacio-fila">
        <div class="col-3">
            <label class="form-label">Producto</label>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" placeholder="Descripción" maxlength="100">
        </div>
    </div>
    <div class="row espacio-fila">
        <div class="col-3">
            <label class="form-label">Categoría</label>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" placeholder="Descripción" maxlength="100">
        </div>
    </div>
    <div class="row">
        <div class="col-7">
        </div>
        <div class="col-3 alinear-grupo">
            <button type="button" class="btn btn-secondary" style="margin-right: 10px;">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>